<template name="StocksTable">

    <ul class="nav nav-tabs">
        <li role="presentation" class="toggle-table{{#if $.Session.get 'table'}} active{{/if}}"><a id="tabletoggle" href="#">All Stocks</a></li>
        <li role="presentation" class="toggle-table{{#if $.Session.get 'table1'}} active{{/if}}"><a id="tabletoggle1" href="#">Sort by Stock</a></li>
        <li role="presentation" class="toggle-table{{#if $.Session.get 'table2'}} active{{/if}}"><a id="tabletoggle2" href="#">Sort by Account</a></li>
    </ul>

    {{#if $.Session.get 'table'}} {{> AllStocks}} {{/if}} 
    {{#if $.Session.get 'table1'}} {{> StockGroups}} {{/if}} 
    {{#if $.Session.get 'table2'}} {{> Accounts}} {{/if}}

    <br />
    <br />
</template>





